.primary {
    background-color: #ecc75b;
    color: black;
    border: none;
    font-size: 17px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    min-width: 95px;
    box-shadow: 0px 4px 5px rgba(196, 196, 196, 0.4);
    cursor: pointer;
}

.secondary {
    margin-top: 25px;
    background-color: #dfe9f3;
    border-radius: 10px 0px;
    border: none;
    font-size: 16px;
    padding: 10px;
    min-width: 160px;
    cursor: pointer;
}

.round {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    background-color: #6788be;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 6px;
}

.round:disabled {
    background-color: rgba(103, 136, 190, 0.7);
    cursor: not-allowed;
}
