.container {
    background-color: rgba(236, 210, 118, 0.8);
    width: 476px;
    max-height: 90%;
    margin-right: 45px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.poemContainer {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.title {
    font-size: 18px;
    font-weight: 200;
}

.poem {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
}

.couplet {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.verse {
    width: 50%;
    font-size: 15px;
}

.interpretationContainer {
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-right: 7%;
    box-sizing: border-box;
}
.interpretation {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 16px;
}
