@font-face {
    font-family: rezvan;
    src: url("./assets/Rezvan.ttf");
}

body {
    margin: 0;
    font-family: rezvan;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl;
}

button {
    font-family: rezvan;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: black;
}

p {
    line-height: 25px;
}
